<% if !user_signed_in?%>
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <a href="/" ><%= image_tag 'logo.png', width: '100' %></a>
  </div>
</div>
<%end%>
<script type="text/javascript">

</script>

<p id="notice"><%= notice %></p>
<div id="flash">
  <% if flash[:honored_reservation] %>
    <p><%= flash[:honored_reservation] %></p>
  <% end %>
</div>
<div class="inner_recipe_background">
  <div class="corners">
    <p>
      <strong>Title:</strong>
      <%= @recipe.title %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @recipe.price %> RON
    </p>
    <p>
      <%= image_tag @recipe.image_url(:thumb).to_s %>
    </p>
    
    <p>
      <strong>Date:</strong>
      <%= @recipe.date %> 
    </p>
    
    <p>
      <strong>Number of people:</strong>
      <%= @recipe.no_people %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @recipe.time %>  
    </p>
    
    <p>
      <strong>Street: </strong>
      <%= @recipe.street %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @recipe.city %>
    </p>

     <p>
      <strong>Location:</strong>
      <%= @recipe.location %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @recipe.description %>
    </p>
    <% if user_signed_in?%><p>
      <strong>User contact:</strong>
      <%= @recipe.user.email %> 
    </p><% end %>
  </div>
  
  <%= link_to '&#x276e;'.html_safe, recipes_path, class: 'hollow button secondary' %>
  <% if current_user == @recipe.user %>
    <%= link_to '&#9998;'.html_safe, edit_recipe_path(@recipe), class: 'hollow button success' %>
    <%= link_to '&#10006;'.html_safe, @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'hollow button alert' %>
  <% end %>

  <% if user_signed_in? %>

    <h2>Reservations:</h2>
    <%= render 'reservations/reservation' %>

    <h2>Reviews:</h2>
    <%= render  'reviews/review' %>

  <% end %>
</div>

<% if user_signed_in?%>
<footer>
    <div class="bottom-bar">
          <a href="https://www.facebook.com/SerbanNasui" class="facebook" target="_blank"><%= image_tag 'icon-fb.png', width: '15' %></a>
          All Rights Reserved © 2019 <a class="contact" href="mailto:contact@eatyv.me"><%= image_tag 'icon-contact.png', width: '17' %></a>
    </div>
</footer>
<%end%>