<div class="row small-up-2 medium-up-3 large-up-4">
<% @own_recipes.each do |recipe| %>
    <div class="column column-block">
        <hr>
        <%= link_to recipe do %>
        <%= image_tag recipe.image_url(:thumb) %>   
        <% end %>
        <h3><%= recipe.title %></h3>
        <p class="text-center"> <%= image_tag 'icon-price.png', width: '20' %> <%= recipe.price %> RON</p>
        <p class="text-center"> <%= image_tag 'icon-date.png', width: '20' %> <%= recipe.date %>, <%= recipe.time %></p>
        <p class="text-center"> <%= image_tag 'icon-location.png', width: '20' %> <%= recipe.location %>, <%= recipe.city %></p>
    </div>
<%end%>
</div>
<a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hiden="true"></i></a>
